<p>
  <strong>Commenter: <strong>
  <%= comment.user.name %>
</p>

<p>
  <strong>Comment: <strong>
  <%= comment.body %>
</p>

<p>

<%= link_to 'Edit', edit_comment_path(comment) if policy(comment).update? %>
<%= link_to 'Delete', comment,
    method: :delete,
    data: { confirm: 'Are you sure?'} if policy(comment).destroy? %>
</p>
<hr>
